body { margin: 0 }
header{
   display: flex;
   align-items: center;
   position: fixed;
   z-index: 2;
   width: 100%;
   height: 80px;
   border-bottom: 1px solid black;
   background-color: white;
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
}
.logo{
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding-left: 30px;
}
.logo span{
  color: mediumAquamarine;
  padding-left: 20px;
}
.logo span{
  padding-left: 20px;

}
header nav{
  padding-right: 40px;
  display: flex;
  color: black;

}
nav span{
  display: inline-block;
  padding: 20px 10px;
}

}
li{
  display: inline-block;
}

nav a{
  color: black;
}
nav a:hover {
 color: lightgrey;

}
.container{
  width: 1266px;
  display: flex;
  margin: 0 auto 80px auto;
  padding-top: 120px;

}
.column{
  display: flex;
  flex-direction: column;
  margin-right:  32px;
  border: 2px solid black;
}


.column.large {
  width: 630px;
  display: flex;
}

.column.medium {
  width: 300px;
}
.column.small {
    width: 240px;

}

.story{
  display: inline-flex;
  flex-direction:column;
  justify-content: space-around;
  margin-right:  32px;
  width: 300px;
}

p .story{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainStory.content-image{
  background-image: url("../images/main story.png");
  height:300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}


}
.content-image{
  display: flex;
  font-family: Georgia;



}
.fallSeason.content-image{
  background-image: url("../images/fall season.png");
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

}
.cat{
  background-image: url("../images/cat ceo.png");
  height:300px;
  text-align: center;
